<h1>Edit Post:</h1>
<%= render 'shared/errors' %>

<% if user_signed_in? && current_user == @post.user %>

<%= form_for @post do |f| %>
	<%= f.text_area :body, placeholder: 'post' %><br>
	<%= f.submit "Submit" %>
<% end %>

<%else%>
  <p>You can only edit your own posts.</p>

<% end %>