<div id="index-body">
  <div id="group-box-index-page">
    <div class="group-title">
	  <em><strong>Your Groups</strong></em> <%= link_to '(Create Group)', new_group_path %><br>
	</div><br>
	<% @groups.each do |group| %>
	  <% if group.users.include? current_user %>
	    <em><%= link_to group.name, group_path(group.id) %></em><br>
	   <% end %>
	<% end %>
  </div>
</div>