/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

body 
  background: #FEFEFE


#top-nav 
  background: #CCF6F4
  border-top: solid
  border-bottom: solid
  height: 135px

#navbar-text-margin
  margin-left: -14px

#top-nav-wording
  padding-left: 1px

#logo 
  position: absolute
  right: 12px
  width: 100px
  height: 92px
  margin-top: 10px

#site-name 
  color: #0040ff
  margin-left: auto
  margin-right: auto

.btn-space 
  margin-top: 4px

#post-box
  background-color: #F8F8F8
  border-top: double
  border-bottom: double
  padding-left: 7px
  padding-bottom: 24px
  border-spacing: 10px
  margin: 10px 10px 10px 10px

#non-prof-pic-post-box 
  padding-left: 100px
  margin-top: -100px

.index-page-header
  margin-left: 10px

.username-index-font
  font-size: 1.15em

.new-post-box
  height: 160px
  width: 320px

.profile-header-container
  margin: 0 auto

.profile-header-img
  padding-left: 15px

.profile-header-img > img.img-circle
  width: 70px
  height: 80px
  border: 2px solid #51D2B7


